body {
    margin: 0;
    padding: 0;
}

.background{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../img/background.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: repeat-y;
    animation: animatedBackground 6s infinite linear;
    -ms-animation: animatedBackground 6s infinite linear;
    -moz-animation: animatedBackground 6s infinite linear;
    -webkit-animation: animatedBackground 6s infinite linear;
}

@keyframes animatedBackground {
    0%   { background-position: 0px; }
100% { background-position: 0px 100v; }
}
@-webkit-keyframes animatedBackground {
    0%   { background-position: 0px; }
100% { background-position: 0px 100v; }
}
@-ms-keyframes animatedBackground {
    0%   { background-position: 0px; }
100% { background-position: 0px 100v; }
}
@-moz-keyframes animatedBackground {
    0%   { background-position: 0px; }
100% { background-position: 0px 100v; }
}

#logo_time {
    position:absolute;
    left:10%;
    top:10%;
    height: 120px;
    width: auto;
    transform:translate(-50%,-50%);
}

#logo_jogo {
    position:absolute;
    left:90%;
    top:10%;
    height: 150px;
    width: auto;
    transform:translate(-50%,-50%);
}

.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:85%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.circle:nth-child(4){
    left:auto;
    right:-10%;
    animation-delay: .4s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
}